@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;

    --card: 217.2 32.6% 17.5%;
    --card-foreground: 210 40% 98%;

    --popover: 217.2 32.6% 17.5%;
    --popover-foreground: 210 40% 98%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 20.2% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 199 89% 48%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 199 89% 48%;

    --radius: 0.5rem;

    --sidebar-background: 222.2 47.4% 8%;

    --sidebar-foreground: 210 40% 98%;

    --sidebar-primary: 199 89% 48%;

    --sidebar-primary-foreground: 210 40% 98%;

    --sidebar-accent: 217.2 32.6% 17.5%;

    --sidebar-accent-foreground: 210 40% 98%;

    --sidebar-border: 217.2 32.6% 25%;

    --sidebar-ring: 199 89% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Oswald:wght@400;500;600;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
